<div class="container mt-4">
  <h2 class="mb-4">Add Employee</h2>

  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="row g-3">
    <div class="col-md-6">
      <label class="form-label">Name</label>
      <input formControlName="name" class="form-control" placeholder="Full Name" />
    </div>

    <div class="col-md-6">
      <label class="form-label">Phone Number</label>
      <input type="text" formControlName="phoneNumber" class="form-control" placeholder="phoneNumber" />
    </div>

    <div class="col-md-6">
      <label class="form-label">Email</label>
      <input formControlName="email" type="email" class="form-control" placeholder="example@gmail.com" />
    </div>
     <div class="col-md-6">
      <label class="form-label">Joining Date</label>
      <input formControlName="joinDate" type="date" class="form-control" placeholder="Date" />
    </div>

    <div class="col-md-6">
      <label class="form-label">Department</label>
      <select formControlName="department" class="form-select" (change)="onDepartmentChange()">
        <option value="">Select Department</option>
        <option *ngFor="let depart of allDepartments" [value]="depart.id">{{ depart.name }}</option>
      </select>
    </div>

    <div class="col-md-6">
      <label class="form-label">Designation Title</label>
      <select formControlName="designation" class="form-select">
        <option value="">Select Police Station</option>
        <option *ngFor="let desig of filteredDesignations" [value]="desig.id">{{ desig.designationTitle }}</option>
      </select>
    </div>

    <div class="col-md-12">
      <button class="btn btn-success" type="submit" [disabled]="formGroup.invalid">
        Add Employee
      </button>
    </div>
  </form>
</div>